#workspace #presentation{
	width: 500px;
	height: 281.25px;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

#presentation .presentation-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#presentation .presentation-inner .atomic-logo{
	width: 37px;
	height: 37px;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	z-index: 10;
	background: transparent url(m-images/items/atomic-logo.png) no-repeat center center;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#presentation .presentation-inner .scene{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#presentation .presentation-inner .scene-switcher,
#presentation .presentation-inner .layer,
#presentation .presentation-inner .object,
#presentation .presentation-inner .item {
	position: absolute;
}
#presentation .presentation-inner .layer {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: transparent url(m-images/gif/transparent.gif) no-repeat 0px 0px;
}
#presentation .presentation-inner .object {
	background: transparent url(m-images/gif/transparent.gif) no-repeat center center;
}
#presentation .presentation-inner .item {
	background: transparent url(m-images/gif/transparent.gif) no-repeat center center;
}

#presentation .presentation-inner .layer .layer-inner,
#presentation .presentation-inner .object .object-inner,
#presentation .presentation-inner .item .item-inner{
	position: relative;
}

#presentation .presentation-inner .scene-1 .layer.layer-1{
	background-image: url(m-images/bg/scene-1/1.jpg);
	background-position: center 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-2{
	background-image: url(m-images/bg/scene-1/2.gif);
	background-position: -33px 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-3{
	background-image: url(m-images/bg/scene-1/3.gif);
	background-position: -33px 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-4{
	background-image: url(m-images/bg/scene-1/4.gif);
	background-position: -33px 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-5{
	background-image: url(m-images/items/light.gif);
	background-position: center 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-5a{
	background-image: url(m-images/items/clear-lighting.png);
	background-position: center 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-5b{
	background-image: url(m-images/items/dim-lighting.png);
	background-position: center 0px;
}
#presentation .presentation-inner .scene-1 .layer.layer-6{
}
#presentation .presentation-inner .scene-1 .layer.layer-7{
	background-image: url(m-images/bg/scene-1/7.gif);
	background-position: center 0px;
}

#presentation .presentation-inner .scene-1 .layer.layer-5a.off,
#presentation .presentation-inner .scene-1 .layer.layer-5b.off{
	opacity: 0;
}

#presentation .presentation-inner .scene-2 .layer.layer-1{
	background-image: url(m-images/bg/scene-2/1.jpg);
	background-position: 0px 0px;
	background-size: cover;
}
#presentation .presentation-inner .scene-2 .layer.layer-2{
}
#presentation .presentation-inner .scene-2 .layer.layer-3{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#presentation .presentation-inner .scene-2 .layer.layer-4{
	background-image: url(m-images/bg/scene-2/4.gif);
}
#presentation .presentation-inner .scene-2 .layer.layer-5{
	background-image: url(m-images/bg/scene-2/5.gif);
}
#presentation .presentation-inner .scene-2 .layer.layer-6{
	background-image: url(m-images/bg/scene-2/6.gif);
}
#presentation .presentation-inner .scene-2 .layer.layer-7{
	background-image: url(m-images/bg/scene-2/7.gif);
}
#presentation .presentation-inner .scene-2 .layer.layer-8.back{
	left: 600px;
	width: 111.75px;
	height: 281.25px;
	background-image: url(m-images/bg/scene-2/tunnel-back-in.gif);
	background-position: center center;
}
#presentation .presentation-inner .scene-2 .layer.layer-8{
	background-image: url(m-images/bg/scene-2/8.gif);
}
#presentation .presentation-inner .scene-2 .layer.layer-8.front{
	left: 650px;
	width: 110px;
	height: 281.25px;
	background-image: url(m-images/bg/scene-2/tunnel-front-in.gif);
	background-position: center center;
}


#presentation .presentation-inner .scene-2 .layer .flight{
	position: absolute;
	width: 70px;
	height: 27.5px;
	background-image: url(m-images/sprite/3.gif);
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-0{
	background-position: -459px -147.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-1{
	background-position: -23.5px -40.5px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-2{
	background-position: -23.5px -105.5px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-3{
	background-position: -135px -139.5px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-4{
	background-position: -135.5px -79.5px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-5{
	background-position: -203px -6px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-6{
	background-position: -203px -51.5px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-7{
	background-position: -214.5px -153.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-8{
	background-position: -204.75px -111.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-9{
	background-position: -310.5px -57px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-10{
	background-position: -312.75px -117.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-11{
	background-position: -418.5px -27.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-12{
	background-position: -414.75px -78.75px;
}
#presentation .presentation-inner .scene-2 .layer .flight.flight-13{
	background-position: -459px -147.75px;
}


#presentation .presentation-inner .scene-2 .layer .cloud{
	position: absolute;
	background-image: url(m-images/sprite/clouds.png);
}
#presentation .presentation-inner .scene-2 .layer .cloud.cloud-0{
	top: 25px;
	left: 50px;
	width: 221px;
	height: 102px;
	background-position: -10px 0px;
}
#presentation .presentation-inner .scene-2 .layer .cloud.cloud-1{
	top: 25px;
	left: 50px;
	width: 228px;
	height: 99px;
	background-position: -239px 0px;
}
#presentation .presentation-inner .scene-2 .layer .cloud.cloud-2{
	top: 25px;
	left: 50px;
	width: 146px;
	height: 64px;
	background-position: -483px -15px;
}
#presentation .presentation-inner .scene-2 .layer .cloud.cloud-3{
	top: 25px;
	left: 50px;
	width: 167px;
	height: 74px;
	background-position: -646px -16px;
}
#presentation .presentation-inner .scene-2 .layer .cloud.cloud-4{
	top: 25px;
	left: 50px;
	width: 124px;
	height: 52px;
	background-position: -841px -33px;
}

#presentation .presentation-inner #switcher{
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(m-images/bg/scene-2/switcher.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#presentation .presentation-inner #switcherAbove{
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 95%;
	height: 100%;
	background-image: url(m-images/bg/scene-2/adpaper.png);
	background-position: center 75px;
	background-repeat: repeat-x;
}

#presentation .presentation-inner .scene-3 .layer.layer-1{
	background-image: url(m-images/bg/scene-3/1.jpg);
	background-size: cover;
}
#presentation .presentation-inner .scene-3 .layer.layer-2{
	background-image: url(m-images/bg/scene-3/2.png);
	background-position: 0px -1002px;
}
#presentation .presentation-inner .scene-3 .layer.layer-3{
	opacity: 0;
	left: 75px;
	top: 150px;
	width: 500px;
	height: 281.25px;
	background-image: url(m-images/bg/scene-3/3.png);
	background-position: 0px 0px;
}
#presentation .presentation-inner .scene-3 .layer.layer-4{
	background-image: url(m-images/bg/scene-3/4.png);
	background-position: center -500px;
}
#presentation .presentation-inner .scene-3 .layer.layer-5{
}
#presentation .presentation-inner .scene-3 .layer.layer-6{
	background-image: url(m-images/bg/scene-3/6.png);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	top: -100px;
	left: -495px;
}
#presentation .presentation-inner .scene-3 .layer.layer-6a{
	background-image: url(m-images/bg/scene-3/6a.png);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	top: -100px;
	left: -495px;
	opacity: 0;
}
#presentation .presentation-inner .scene-3 .layer.layer-7{
	background-image: url(m-images/bg/scene-3/7.png);
}
#presentation .presentation-inner .scene-3 .layer.layer-8.back{
	left: 47.5px;
	width: 111.75px;
	height: 281.25px;
	background-image: url(m-images/bg/scene-3/tunnel-back-out.gif);
	background-position: center center;
}
#presentation .presentation-inner .scene-3 .layer.layer-8{
	background-image: url(m-images/bg/scene-3/8.png);
}
#presentation .presentation-inner .scene-3 .layer.layer-8.front{
	left: -1.25px;
	width: 110px;
	height: 281.25px;
	background-image: url(m-images/bg/scene-3/tunnel-front-out.gif);
	background-position: center center;
}


#presentation .presentation-inner .scene-1 .item.control-table{
	top: 83.5px;
	left: -32.5px;
	width: 183.75px;
	height: 187.5px;
	background-image: url(m-images/items/control-table.png);
}

#presentation .presentation-inner .scene-1 .item.control-table #shadow{
	top: 40px;
	left: 12.5px;
	width: 155px;
	height: 21px;
	background-image: url(m-images/items/shadow.png);
}

#presentation .presentation-inner .scene-1 #point1{
	width: 2px;
	height: 2px;
	border-radius: 4px;
	background: #ff9;
	top: 60px;
	left: 86.25px;
}
#presentation .presentation-inner .scene-1 #point2{
	width: 2px;
	height: 2px;
	border-radius: 4px;
	background: #ff9;
	top: 83.5px;
	left: 82.5px;
}

#presentation .presentation-inner .scene-1 .item.control-table  #needle1{
	top: 50px;
	left: 82.5px;
	width: 9.5px;
	height: 14.5px;
	background-image: url(m-images/items/needle1.png);
	-webkit-transform: rotateZ( 0deg );
	-moz-transform: rotateZ( 0deg );
	-ms-transform: rotateZ( 0deg );
	-o-transform: rotateZ( 0deg );
	transform: rotateZ( 0deg );
}
#presentation .presentation-inner .scene-1 .item.control-table  #needle2{
	top: 72.25px;
	left: 81.5px;
	width: 4.75px;
	height: 14px;
	background-image: url(m-images/items/needle2.png);
	-webkit-transform: rotateZ( 0deg );
	-moz-transform: rotateZ( 0deg );
	-ms-transform: rotateZ( 0deg );
	-o-transform: rotateZ( 0deg );
	transform: rotateZ( 0deg );
}

#presentation .presentation-inner .scene-1 .item.control-table  #com1{
	top: 53.75px;
	left: 106.25px;
	width: 43.75px;
	height: 35px;
	background-image: url(m-images/items/screen1.gif);
	-webkit-transform: skew(-8deg);
	-moz-transform: skew(-8deg);
	-ms-transform: skew(-8deg);
	-o-transform: skew(-8deg);
	transform: skew(-8deg);
	background-position: 0px 0px;
}

#presentation .presentation-inner .scene-1 .item.control-table #ranLight{
	top: 111.5px;
	left: 75px;
	width: 13.5px;
	height: 65px;
}
#presentation .presentation-inner .scene-1 .item.control-table #ranLight .item-inner{
	width: 100%;
	height: 100%;
}

#presentation .presentation-inner .scene-1 .item.control-table .ran-light{
	width: 10px;
	height: 10px;
	margin: 1.5px auto 3.25px;
	clear: both;
	background-image: url(m-images/sprite/gap-touch.png);
	background-position: -86px -38.75px;
}
#presentation .presentation-inner .scene-1 .item.control-table .ran-light.off{
	background-position: -86px -60.5px;
}

#presentation .presentation-inner .scene-1 .item.robot-holder{
	top: 82.5px;
	right: -33px;
	width: 266px;
	height: 189.75px;
	background-image: url(m-images/items/robot-holder.gif);
}
#presentation .presentation-inner .scene-1 .item.robot-holder #com2{
	top: 115.5px;
	left: 81px;
	width: 21px;
	height: 17.75px;
	background-image: url(m-images/items/screen2.gif);
	background-position: 0px -5px;
	-webkit-transform: skew(-4deg);
	-moz-transform: skew(-4deg);
	-ms-transform: skew(-4deg);
	-o-transform: skew(-4deg);
	transform: skew(-4deg);
}

#presentation .presentation-inner .scene-1 .object.robot{
	top: 62.75px;
	left: 223.5px;
	width: 52.5px;
	height: 86.25px;
	background-position: 500px 0px;
	background-image: url(m-images/sprite/robot-move.png);
}

#presentation .presentation-inner .scene-1 .object.robot .object-inner{
}
#presentation .presentation-inner .scene-1 .object.robot .robot-body{
	opacity: 1;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 109.25px;
	background-image: url(m-images/objects/robot-body.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-hand-right{
	opacity: 0;
	top: 30.25px;
	left: -25px;
	width: 39.75px;
	height: 66px;
	background-image: url(m-images/objects/right-hand.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-hand-left{
	opacity: 0;
	top: 31.25px;
	left: 50px;
	width: 39.75px;
	height: 66.75px;
	background-image: url(m-images/objects/left-hand.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-foot-right{
	opacity: 0;
	top: 80.5px;
	left: -11.25px;
	width: 35.25px;
	height: 108.75px;
	background-image: url(m-images/objects/right-foot.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-foot-left{
	opacity: 0;
	top: 80.25px;
	left: 40.25px;
	width: 36px;
	height: 108px;
	background-image: url(m-images/objects/left-foot.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-tick-hand{
	opacity: 0;
	top: 33.5px;
	left: -8.75px;
	width: 36.75px;
	height: 55.5px;
	background-image: url(m-images/objects/tick-hand.gif);
}
#presentation .presentation-inner .scene-1 .object.robot .robot-main{
	opacity: 0;
	top: 11.5px;
	left: -11.25px;
	width: 87.75px;
	height: 167.5px;
	background-image: url(m-images/objects/robot-main.gif);
}

#presentation .presentation-inner .scene-1 .object.robot .robot-hand-left .text-board{
	top: 16.25px;
	left: 3px;
	z-index: 2;
	width: 41.75px;
	height: 32.5px;
	background-image: url(m-images/objects/left-board.png);
	background-position: 0px 0px;
}
#presentation .presentation-inner .scene-1 .object.robot .robot-hand-right .text-board{
	top: 16.25px;
	left: -3px;
	z-index: 2;
	width: 40.25px;
	height: 33.75px;
	background-image: url(m-images/objects/right-board.png);
	background-position: 0px 0px;
}

#presentation .presentation-inner .scene-1 .object.robot .robot-thumb-up{
	opacity: 0;
	top: 24px;
	left: 39.5px;
	width: 35.25px;
	height: 56.25px;
	background-image: url(m-images/objects/thumb-up.gif);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

#presentation .presentation-inner .scene-1 .object.gap{
	top: 125px;
	left: 0px;
	-webkit-transform: rotateX( 15deg );
	-moz-transform: rotateX( 15deg );
	-ms-transform: rotateX( 15deg );
	-o-transform: rotateX( 15deg );
	transform: rotateX( 15deg );
}
#presentation .presentation-inner .scene-1 .object.gap.left{
	width: 367.75px;
	height: 62.5px;
	background-image: url(m-images/sprite/gap-1.png);
}
#presentation .presentation-inner .scene-1 .object.gap.right{
	width: 244.25px;
	height: 58.75px;
	background-image: url(m-images/sprite/gap-2.png);
}

#presentation .presentation-inner .scene-1 .object.gap .gap-holder{
	background-image: url(m-images/sprite/gap-touch.png);
}

#presentation .presentation-inner .scene-1 .object.gap.left .gap-holder{
	top: 11.25px;
	right: -25px;
	z-index: 1;
	width: 30.5px;
	height: 34px;
	background-position: -4.5px -43.5px;
}
#presentation .presentation-inner .scene-1 .object.gap.left.open .gap-holder{
	top: -6.75px;
	left: -19.5px;
	z-index: 1;
	width: 30.5px;
	height: 44px;
	background-position: -0px -1px;
}


#presentation .presentation-inner .scene-1 #gapLeftTop{
	top: 50px;
	left: -475px;
	z-index: 1;
	-webkit-transform: rotateZ(10deg);
	-moz-transform: rotateZ(10deg);
	-ms-transform: rotateZ(10deg);
	-o-transform: rotateZ(10deg);
	transform: rotateZ(10deg);
}
#presentation .presentation-inner .scene-1 #gapLeftTop .gap-hand{
	top: 12.5px;
	right: -58.5px;
	z-index: 1;
	width: 96.25px;
	height: 46.75px;
	background-image: url(m-images/objects/gap-left-hand.gif);
	background-position: -3.5px -5.5px;
}

#presentation .presentation-inner .scene-1 #gapLeftTop .gap-hand .gap-board{
	top: -16px;
	left: 46px;
	z-index: 2;
	width: 40.25px;
	height: 33.75px;
	background-image: url(m-images/objects/right-board.png);
	background-position: 0px 0px;
	-webkit-transform: rotateZ(56deg) scale(1.2);
	-moz-transform: rotateZ(56deg) scale(1.2);
	-ms-transform: rotateZ(56deg) scale(1.2);
	-o-transform: rotateZ(56deg) scale(1.2);
	transform: rotateZ(56deg) scale(1.2);
}

#presentation .presentation-inner .scene-1 #gapLeftBottom{
	top: 475px;
	left: -450px;
	z-index: 1;
	-webkit-transform: rotateZ(-30deg);
	-moz-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	-o-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}
#presentation .presentation-inner .scene-1 #gapLeftBottom .gap-foot{
	top: -8px;
	right: -69.25px;
	z-index: 0;
	width: 120.5px;
	height: 94.5px;
	background-image: url(m-images/objects/gap-left-foot.gif);
	background-position: -3.5px -5.5px;
}

#presentation .presentation-inner .scene-1 .object.gap.right .gap-holder{
	top: 5.25px;
	left: -17.5px;
	z-index: 1;
	width: 30.5px;
	height: 34px;
	background-position: -40px -43.5px;
}
#presentation .presentation-inner .scene-1 .object.gap.right.open .gap-holder{
	top: 1.25px;
	right: -25px;
	z-index: 1;
	width: 30.5px;
	height: 44px;
	background-position: -40px -1px;
}


#presentation .presentation-inner .scene-1 #gapRightTop{
	top: 50px;
	right: -375px;
	left: auto;
	z-index: 1;
	-webkit-transform: rotateZ(-5deg);
	-moz-transform: rotateZ(-5deg);
	-ms-transform: rotateZ(-5deg);
	-o-transform: rotateZ(-5deg);
	transform: rotateZ(-5deg);
}
#presentation .presentation-inner .scene-1 #gapRightTop .gap-hand{
	top: 8.5px;
	left: -45px;
	z-index: 1;
	width: 96.25px;
	height: 45px;
	background-image: url(m-images/objects/gap-right-hand.gif);
	background-position: -3.5px -5.5px;
}

#presentation .presentation-inner .scene-1 #gapRightTop .gap-hand .gap-board{
	top: 24.75px;
	left: 16.5px;
	z-index: 2;
	width: 41.75px;
	height: 32.5px;
	background-image: url(m-images/objects/left-board.png);
	background-position: 0px 0px;
	-webkit-transform: rotateZ(-60deg) scale(1.2);
	-moz-transform: rotateZ(-60deg) scale(1.2);
	-ms-transform: rotateZ(-60deg) scale(1.2);
	-o-transform: rotateZ(-60deg) scale(1.2);
	transform: rotateZ(-60deg) scale(1.2);
}

#presentation .presentation-inner .scene-1 #gapRightBottom{
	top: 450px;
	right: -125px;
	left: auto;
	z-index: 1;
	-webkit-transform: rotateZ(40deg);
	-moz-transform: rotateZ(40deg);
	-ms-transform: rotateZ(40deg);
	-o-transform: rotateZ(40deg);
	transform: rotateZ(40deg);
}
#presentation .presentation-inner .scene-1 #gapRightBottom .gap-foot{
	top: -18.75px;
	left: -62px;
	z-index: 0;
	width: 125.25px;
	height: 101.75px;
	background-image: url(m-images/objects/gap-right-foot.gif);
	background-position: -3.5px -5.5px;
}

#presentation .presentation-inner .scene-1 #downer{
	position: fixed;
	z-index: 10;
	top: 215px;
	left: 225px;
	width: 62.5px;
	height: 63.5px;
}
#presentation .presentation-inner .scene-1 #downer .arr-inner{
	position: relative;
	width: 100%;
	height: 100%;
}
#presentation .presentation-inner .scene-1 #downer .arr-inner .down-text{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 62.5px;
	height: 13px;
	background: transparent url(m-images/items/down-text.png) no-repeat center center;
}
#presentation .presentation-inner .scene-1 #downer .arr-inner .down-arrow{
	position: absolute;
	top: 12.5px;
	left: 0px;
	width: 62.5px;
	height: 50.25px;
	background: transparent url(m-images/items/down-arrow.png) no-repeat center center;
	-webkit-animation: animDowner 1.2s infinite ease-in-out;
	-moz-animation: animDowner 1.2s infinite ease-in-out;
	-ms-animation: animDowner 1.2s infinite ease-in-out;
	-o-animation: animDowner 1.2s infinite ease-in-out;
	animation: animDowner 1.2s infinite ease-in-out;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}

@-moz-keyframes animDowner{
	from{
	top: 7.5px;
	}
	to{
	top: 15px;
	}
}

@-webkit-keyframes animDowner{
	from{
	top: 7.5px;
	}
	to{
	top: 15px;
	}
}

@keyframes animDowner{
	from{
	top: 7.5px;
	}
	to{
	top: 15px;
	}
}


#presentation .presentation-inner .scene-2 .object.robot{
	top: 135px;
	left: -75px;
	width: 75px;
	height: 155px;
	background-position: 12.5px 0px;
	background-image: url(m-images/sprite/robot-move.png);
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	-ms-transform: scale(0.65);
	-o-transform: scale(0.65);
	transform: scale(0.65);
}
#presentation .presentation-inner .scene-2 .object.robot .object-inner{
	left: 25px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

#presentation .presentation-inner .scene-2 .object.robot .robot-hand-right{
	opacity: 0;
	top: 30.25px;
	left: -25px;
	width: 39.75px;
	height: 66px;
	background-image: url(m-images/objects/right-hand.gif);
}
#presentation .presentation-inner .scene-2 .object.robot .robot-hand-left{
	opacity: 0;
	top: 31.25px;
	left: 50px;
	width: 39.75px;
	height: 66.75px;
	background-image: url(m-images/objects/left-hand.gif);
}
#presentation .presentation-inner .scene-2 .object.robot .robot-main{
	opacity: 0;
	top: 11.5px;
	left: -11.25px;
	width: 87.75px;
	height: 167.5px;
	background-image: url(m-images/objects/robot-main.gif);
}

#presentation .presentation-inner .scene-2 .object.rocket{
	left: -250px;
	top: 55px;
	width: 200.75px;
	height: 143px;
}

#presentation .presentation-inner .scene-2 .object.rocket .rocket-fire{
	left: 0px;
	top: 43.5px;
	width: 35.5px;
	height: 62.75px;
	background-image: url(m-images/sprite/rocket-fire.png);
	background-position: -9.5px -21.5px;
	-webkit-animation: animRocketFire 300ms infinite;
	-moz-animation: animRocketFire 300ms infinite;
	-ms-animation: animRocketFire 300ms infinite;
	-o-animation: animRocketFire 300ms infinite;
	animation: animRocketFire 300ms infinite;
}

#presentation .presentation-inner .scene-2 .object.billboard{
	left: 25px;
	top: 25px;
	height: 87.5px;
	width: 70px;
}
#presentation .presentation-inner .scene-2 .object.billboard.far {
	width: 70px;
	height: 46px;
}
#presentation .presentation-inner .scene-2 .object.billboard.far .bb-main{
	width: 70px;
	height: 46px;
	background-image: url(m-images/items/billboard-2.png);
	background-position: center center;
}
#presentation .presentation-inner .scene-2 .object.billboard.far .bb-base{
	width: 65.5px;
	height: 41.5px;
	background-image: url(m-images/items/billboard-base.png);
	background-position: center center;
}


@-moz-keyframes animRocketFire {
	0% {
	left: 0px;
}
	50% {
	left: 1.25px;
}
	100% {
	left: 2.5px;
}
}
@-webkit-keyframes animRocketFire {
	0% {
	left: 0px;
}
	50% {
	left: 1.25px;
}
	100% {
	left: 2.5px;
}
}
@keyframes animRocketFire {
	0% {
	left: 0px;
}
	50% {
	left: 1.25px;
}
	100% {
	left: 2.5px;
}
}

#presentation .presentation-inner .scene-2 .object.rocket #rocketMain{
	left: 0px;
	top: 0px;
	width: 200.75px;
	height: 143px;
	background-image: url(m-images/objects/rocket-body.gif);
	background-position: 0px 0px;
}


#presentation .presentation-inner .scene-2 .object.tank{
	left: 525px;
	top: 120px;
	width: 236px;
	height: 127.5px;
}

#presentation .presentation-inner .scene-2 .object.tank #tankMain{
	left: 0px;
	top: -20px;
	width: 236px;
	height: 120px;
	background-image: url(m-images/objects/tank-body.gif);
	background-position: 0px 12.5px;
}


#presentation .presentation-inner .scene-2 .object.tank .tank-wheel-1{
	left: 15px;
	top: 66.5px;
	width: 46.25px;
	height: 46.25px;
	background-position: -2.25px -9.5px;
}
#presentation .presentation-inner .scene-2 .object.tank .tank-wheel-2{
	left: 122.75px;
	top: 67.5px;
	width: 45.5px;
	height: 45.5px;
	background-position: -110px -11.5px;
}
#presentation .presentation-inner .scene-2 .object.tank .tank-wheel-3{
	left: 173px;
	top: 60px;
	width: 53.5px;
	height: 53.5px;
	background-position: -159.5px -3px;
}
#presentation .presentation-inner .scene-2 .object.tank .tank-wheel{
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	background-image: url(m-images/sprite/tank-wheel.gif);
}

#tank.active .tank-wheel{
	-webkit-animation: animTankWheel 5s linear;
	-moz-animation: animTankWheel 5s linear;
	-ms-animation: animTankWheel 5s linear;
	-o-animation: animTankWheel 5s linear;
	animation: animTankWheel 5s linear;
}

@-moz-keyframes animTankWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

@-webkit-keyframes animTankWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

@keyframes animTankWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

#presentation .presentation-inner .scene-2 .object.bus{
	left: -300px;
	top: 115px;
	width: 264px;
	height: 110px;
}

#presentation .presentation-inner .scene-2 .object.bus #busMain{
	left: 0px;
	top: 0px;
	width: 264px;
	height: 110px;
	background-image: url(m-images/objects/truck-body.gif);
	background-position: 0px 0px;
}
#presentation .presentation-inner .scene-2 .object.bus .bus-wheel-1{
	left: 23px;
	top: 83.75px;
	width: 31.5px;
	height: 31.5px;
	background-position: -14px -11.75px;
}
#presentation .presentation-inner .scene-2 .object.bus .bus-wheel-2{
	left: 184.5px;
	top: 84.5px;
	width: 30.75px;
	height: 30.75px;
	background-position: -183.75px -11.75px;
}
#presentation .presentation-inner .scene-2 .object.bus .bus-wheel{
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	background-image: url(m-images/sprite/truck-wheel.gif);
}

#bus.active .bus-wheel{
	-webkit-animation: animBusWheel 1s infinite linear;
	-moz-animation: animBusWheel 1s infinite linear;
	-ms-animation: animBusWheel 1s infinite linear;
	-o-animation: animBusWheel 1s infinite linear;
	animation: animBusWheel 1s infinite linear;
}

@-moz-keyframes animBusWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

@-webkit-keyframes animBusWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

@keyframes animBusWheel{
	from{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}


#presentation .presentation-inner .missile{
	top: 137.5px;
	left: 37.5px;
	width: 140px;
	height: 100px;
}
#presentation .presentation-inner .missile-main{
	top: 0px;
	left: 0px;
	width: 140px;
	height: 100px;
	background-image: url(m-images/sprite/missile.png);
	background-position: 0px -7.5px;
}
#presentation .presentation-inner .missile-fire{
	opacity: 0;
	height: 39.75px;
	width: 56.25px;
	left: -18.75px;
	top: 58px;
	background-image: url(m-images/items/missile-fire.png);
	background-position: 0px 0px;
}

#presentation .presentation-inner #missileClone.missile{
	opacity: 0;
	top: 163px;
	left: -100px;
}


#presentation .presentation-inner .scene-3 .object.robot{
	opacity: 0;
	top: 157.5px;
	left: 170px;
	width: 75px;
	height: 155px;
	background-position: 0px 0px;
	background-image: url(m-images/sprite/robot-move.png);
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	-ms-transform: scale(0.65);
	-o-transform: scale(0.65);
	transform: scale(0.65);
}

#presentation .presentation-inner .scene-3 .object.cow{
	left: 461.25px;
	top: 172.5px;
	width: 235.5px;
	height: 147.5px;
	background-image: url(m-images/sprite/animals.png);
	background-position: -0px -0.5px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}
#presentation .presentation-inner .scene-3 .object.trex{
	left: 536.25px;
	top: 150.25px;
	width: 137.75px;
	height: 130px;
	background-image: url(m-images/sprite/animals.png);
	background-position: -1px -310px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

#presentation .presentation-inner .scene-3 .object.spacecraft{
	opacity: 0;
	top: -2.5px;
	left: 337.5px;
	width: 100px;
	height: 175px;
	background-image: url(m-images/sprite/spacecraft.png);
	background-position: -116.25px 0px;
	background-position: -5px 0px;
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
}
#presentation .presentation-inner .scene-3 .object.spacecraft .object-inner{
}
#presentation .presentation-inner .scene-3 .object.spacecraft .object-inner .cloud{
	background-image: url(m-images/sprite/spacecraft.png);
	background-position: -230px -43.75px;
	top: 83px;
	left: -5px;
	width: 74.25px;
	height: 200.25px;
	opacity: 0;
}
#presentation .presentation-inner .scene-3 .object.spacecraft .object-inner .fire{
	background-image: url(m-images/sprite/spacecraft.png);
	background-position: -215.5px -7px;
	top: 83.75px;
	left: 23.5px;
	width: 14px;
	height: 19px;
	opacity: 0;
}
#presentation .presentation-inner .scene-3 .object.spacecraft .object-inner .door{
	background-image: url(m-images/sprite/spacecraft.png);
	background-position: -35px -180px;
	top: 78.75px;
	left: 31px;
	width: 36px;
	height: 49.5px;
	opacity: 1;
}
#presentation .presentation-inner .scene-3 .object.spacecraft .object-inner .fully{
	background-image: url(m-images/sprite/spacecraft.png);
	background-position: -140.25px -173.5px;
	top: 78.75px;
	left: 31.25px;
	width: 35px;
	height: 50px;
	opacity: 0;
}

#presentation .presentation-inner .scene-3 #cloudBase{
	opacity: 0;
	top: 257.5px;
	left: 227.5px;
	width: 365px;
	height: 239px;
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	transform: scale(0.1);
}
#presentation .presentation-inner .scene-3 #cloudBase .item-inner{
	position: relative;
	width: 100%;
	height: 100%;
}
#presentation .presentation-inner .scene-3 #cloudBase .item-inner .item{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center center;
	background-size: cover;
}
#presentation .presentation-inner .scene-3 #cloudBase .smoke-1{
	background-image: url(m-images/items/smoke-3.png);
}
#presentation .presentation-inner .scene-3 #cloudBase .smoke-2{
	background-image: url(m-images/items/smoke-2.png);
}
#presentation .presentation-inner .scene-3 #cloudBase .smoke-3{
	background-image: url(m-images/items/smoke-1.png);
}


#presentation .presentation-inner .scene-3 .object.ufo{
	left: 0px;
	top: 35px;
	width: 142.5px;
	height: 58.5px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}

#presentation .presentation-inner .scene-3 .object.ufo #ufoMain{
	left: 0px;
	top: 0px;
	width: 142.5px;
	height: 58.5px;
	background-image: url(m-images/sprite/UFO.png);
	background-position: -4.5px -4.5px;
}
#presentation .presentation-inner .scene-3 .object.ufo #ufoLight{
	left: 6.25px;
	top: 48.75px;
	width: 138.75px;
	height: 150px;
	opacity: 0;
	background-image: url(m-images/sprite/UFO.png);
	background-position: -204px -0.75px;
}
#presentation .presentation-inner .scene-3 .object.ufo #ufoAnimal{
	opacity: 0;
	background-image: url(m-images/sprite/animals.png);
}

#presentation .presentation-inner .scene-3 .object.ufo #ufoAnimal.au1{
	left: 13.75px;
	top: 73.75px;
	width: 137.75px;
	height: 130px;
	background-image: url(m-images/sprite/animals.png);
	background-position: -1px -310px;
}

#presentation .presentation-inner .scene-3 .object.ufo #ufoAnimal.au2{
	left: 36.25px;
	top: 140px;
	width: 235.5px;
	height: 147.5px;
	background-image: url(m-images/sprite/animals.png);
	background-position: -0px -0.5px;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}

#presentation .presentation-inner .scene-3 .object.ufo #ufoAnimal.au3{
	left: 33px;
	top: 167.5px;
	width: 194.5px;
	height: 74.5px;
	background-image: url(m-images/sprite/animals.png);
	background-position: -2px -581px;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}

#presentation .presentation-inner #logoAtomic{
	position: absolute;
	opacity: 0;
	left: 198px;
	top: 200.5px;
	width: 96.75px;
	height: 52.5px;
	background-image: url(m-images/items/logo.png);
	background-size: cover;
}

#presentation .presentation-inner #swicherTop{
	top: -0.5px;
	left: -0.5px;
	right: -0.5px;
}

.scene-2{
	opacity: 0;
}
.scene-3{
	opacity: 0;
}

#slider{
	position: fixed;
	z-index: 10;
	bottom: -15px;
	left: 75px;
	width: 125px;
	height: 12px;
}
#slider .slider-inner{
	position: relative;
	width: 100%;
	height: 100%;
}
#slider .slider-inner #cobas{
	position: absolute;
	top: 3.75px;
	left: 2.5px;
	z-index: 0;
	width: 120px;
	height: 6px;
	background-color: #000;
}
#slider .slider-inner #cobar{
	position: absolute;
	top: 3.75px;
	left: 2.5px;
	z-index: 1;
	width: 7px;
	height: 6px;
	background-color: #f88001;
	transition: all 100ms ease-out;
}
#slider .slider-inner #bgbar{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 125px;
	height: 12px;
	background: transparent url(m-images/items/slide-bar.png) no-repeat center center;
}
#slider.step-1 #cobar{
	width: 7px;
}
#slider.step-2 #cobar{
	width: 43px;
}
#slider.step-3 #cobar{
	width: 80px;
}
#slider.step-4 #cobar{
	width: 117.5px;
}

#slider .slider-inner .slide-point{
	position: absolute;
	top: 2.25px;
	left: 2.5px;
	z-index: 4;
	width: 9px;
	height: 9px;
	background: transparent url(m-images/items/circle.png) no-repeat center center;
	transition: all 100ms ease-out;
}
#slider .slider-inner .slide-stop{
	position: absolute;
	top: 2.25px;
	left: 2.5px;
	z-index: 3;
	opacity: 0;
	width: 9px;
	height: 9px;
	border-radius: 18px;
	background-color: #f88001;
}
#slider.step-1 .slider-inner .slide-point{
	left: 2.5px;
}
#slider.step-2 .slider-inner .slide-point{
	left: 39.5px;
}
#slider.step-3 .slider-inner .slide-point{
	left: 76.5px;
}
#slider.step-4 .slider-inner .slide-point{
	left: 113.75px;
}
#slider .slider-inner .slide-stop.pos-1{
	left: 2.5px;
}
#slider .slider-inner .slide-stop.pos-2{
	left: 39.5px;
}
#slider .slider-inner .slide-stop.pos-3{
	left: 76.5px;
}
#slider .slider-inner .slide-stop.pos-4{
	left: 113.75px;
}
#slider .slider-inner .slide-stop:hover{
	opacity: 0.5;
}

#panel{
	position: fixed;
	z-index: 6;
	top: -250px;
	width: 160px;
	height: 195px;
	overflow: hidden;
	margin: auto;
	opacity: 0.4;
	background: transparent url(m-images/items/panel-medium.png) no-repeat center center;
}
#panel .left{
	width: 31.25px;
	height: 110px;
	float: left;
	margin: 77.5px 0px 0px 4.5px;
}
#panel .right{
	width: 112.5px;
	height: 108.5px;
	float: left;
	overflow: auto;
	margin: 77.25px 0px 0px 0px;
	position: relative;
}

#panel .left .btn-panel{
	width: 25px;
	height: 20px;
	margin: 0px auto 1.25px;
	background: transparent url(m-images/sprite/box-sprite.png) no-repeat 1200px 0px;
}
#panel .left .btn-panel.strategy{
	background-position: -3px -0.5px;
}
#panel .left .btn-panel.marketing{
	background-position: -3.25px -27px;
}
#panel .left .btn-panel.technology{
	background-position: -3px -59px;
}
#panel .left .btn-panel.team{
	background-position: -3.25px -86.75px;
}
#panel .left .btn-panel.contact{
	background-position: -3.25px -113.25px;
}

#panel .left .btn-panel.strategy:hover{
	background-position: -58px -0.5px;
}
#panel .left .btn-panel.marketing:hover{
	background-position: -58.25px -27px;
}
#panel .left .btn-panel.technology:hover{
	background-position: -58px -59px;
}
#panel .left .btn-panel.team:hover{
	background-position: -58.25px -86.75px;
}
#panel .left .btn-panel.contact:hover{
	background-position: -58px -113.25px;
}

#panel .left .btn-panel.strategy.active{
	background-position: -109px -0.5px;
}
#panel .left .btn-panel.marketing.active{
	background-position: -109.25px -27px;
}
#panel .left .btn-panel.technology.active{
	background-position: -109px -59px;
}
#panel .left .btn-panel.team.active{
	background-position: -109.25px -86.75px;
}
#panel .left .btn-panel.contact.active{
	background-position: -109px -113.25px;
}

@media only screen and (max-height:150px){
	#panel{
	width: 136px;
	height: 164.5px;
	background: transparent url(m-images/items/panel-small.png) no-repeat center center;
	}
	#panel .left{
	width: 20.5px;
	height: 94px;
	margin: 61.25px 0px 0px 6.75px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	}
	#panel .right{
	width: 100px;
	height: 93.75px;
	margin: 63.75px 0px 0px 0px;
	}
}

@media only screen and (min-height:225px){
	#panel{
	width: 214.5px;
	height: 253.5px;
	background: transparent url(m-images/items/panel-big.png) no-repeat center center;
	}
	#panel .left{
	width: 40px;
	height: 148.5px;
	margin: 92.5px 0px 0px 5.5px;
	}
	#panel .right{
	width: 155px;
	height: 148px;
	margin: 93px 0px 0px 0px;
	}
}

#panelScroller{
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

#panelContent{
	padding: 5px;
	color: #ff0;
	padding-left: 7px;
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.iScrollVerticalScrollbar{
	position: absolute;
	z-index: 9999;
	width: 2px;
	bottom: 0px;
	top: 0px;
	right: 0.25px;
	overflow: hidden;
	background-color: rgba(50, 50, 50, 0.8);
}

.iScrollIndicator{
	position: absolute;
	background-color: #000;
	border-radius: 0px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
	background-color: rgba(200, 200, 200, 0.6);
}
